<script src="~/js/solicitud.js"></script>
<table id="datatable" class="table display responsive nowrap table-bordered" width="100%">
    <thead>
        <tr>
            <th style="width:30%">
                Nombre
            </th>
            <th style="width:45%">
                Descripcion
            </th>
            <th style="width:15%">
                Tipo de Solicitud
            </th>
            <th style="width:10%">
                Fecha
            </th>
        </tr>
    </thead>
    <tbody id="tableBodyAccion"></tbody>
</table>

