@model ParcelaConsultingWeb.Models.Solicitud

@{
    ViewData["Title"] = "Solicitud";
}

<form asp-action="AddOrEdit" asp-route-id="@Model.Id" onsubmit="return jQueryAjaxPost(this);">
    <div class="row d-flex justify-content-center">
        <div class="col-md-10">
            <div class="card p-2 elevation-1">
                <div class="card-header bg-gradient-light border-info">
                    <h5 class="float-right text-info">Solicitud</h5>
                </div>
                <div class="card-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <input type="hidden" asp-for="FechaAsignacion" />
                    <input type="hidden" asp-for="FechadeEntrada" />
                    <input type="hidden" asp-for="FechaEnviado" />
                    <input type="hidden" asp-for="UsuarioId" />
                    <input type="hidden" asp-for="Usuario" />
                    <input type="hidden" asp-for="DigitadorInforme" />
                    <input type="hidden" asp-for="Status" />
                    <div class="row">
                        <!-- Col-md-6 -->
                        <div class="col-md-6">
                            <div class="row">
                                <!-- Parcela -->
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label asp-for="Parcelas" class="control-label"></label>
                                        <input asp-for="Parcelas" class="form-control" id="parcelaEntrada" />
                                        <span asp-validation-for="Parcelas" class="text-danger"></span>
                                    </div>
                                </div>
                                <!-- Beneficiario -->
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label asp-for="Beneficiario" class="control-label"></label>
                                        <input asp-for="Beneficiario" class="form-control" />
                                        <span asp-validation-for="Beneficiario" class="text-danger"></span>
                                    </div>
                                </div>
                                <!-- No diarena -->
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label">Numero Diarena</label>
                                        <input asp-for="NumeroDiarena" class="form-control" />
                                        <span asp-validation-for="NumeroDiarena" class="text-danger"></span>
                                    </div>
                                </div>
                                <!-- Recibido -->
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label asp-for="Recibidos" class="control-label"></label>
                                        <input asp-for="Recibidos" class="form-control" />
                                        <span asp-validation-for="Recibidos" class="text-danger"></span>
                                    </div>
                                </div>
                                <!-- Cantidad -->
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label">Cantidad</label>
                                        <input asp-for="Cantidad_parc" class="form-control" />
                                        <span asp-validation-for="Cantidad_parc" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Col-md-6 -->
                        <!-- Col-md-6 -->
                        <div class="col-md-6">
                            <div class="row">
                                <!-- Municipio -->
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label class="control-label">Provincia/Municipio</label>
                                        <select asp-for="MunicipioId" class="form-control">
                                            <option class="selected" value="-1"></option>
                                        </select>
                                    </div>
                                </div>
                                <!-- Municipio -->
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label">Fecha creación</label>
                                        <input asp-for="FechadeEntrada" class="form-control" disabled/>
                                    </div>
                                </div>
                                <!-- Distrito Catastral-->
                                <div class="col-md-9">
                                    <div class="form-group">
                                        <label class="control-label">Distrito Catastral</label>
                                        <input asp-for="DistritoCatastral" class="form-control" />
                                        <span asp-validation-for="DistritoCatastral" class="text-danger"></span>
                                    </div>
                                </div>
                                <!-- Manzana -->
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label asp-for="Manzana" class="control-label"></label>
                                        <input asp-for="Manzana" class="form-control" />
                                        <span asp-validation-for="Manzana" class="text-danger"></span>
                                    </div>
                                </div>
                                <!-- Solar -->
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label asp-for="Solar" class="control-label"></label>
                                        <input asp-for="Solar" class="form-control" />
                                        <span asp-validation-for="Solar" class="text-danger"></span>
                                    </div>
                                </div>
                                 <!-- Fecha Enviado -->
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label">Fecha Enviado</label>
                                        <input asp-for="FechaEnviado" class="form-control" disabled/>
                                    </div>
                                </div>
                                <!-- Departamento -->
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label class="control-label">Departamento</label>
                                        <select asp-for="DepartamentoId" class="form-control">
                                            <option class="selected" value="-1"></option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Col-md-6 -->
                        <div class="col-md-12">
                            <div class="form-group">
                                <label asp-for="Comentario" class="control-label"></label>
                                <textarea asp-for="Comentario" class="form-control" rows="3"></textarea>
                                <span asp-validation-for="Comentario" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <input type="submit" value="Guardar" class="btn btn-primary float-right" />
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-md-10">
            <div class="card p-2 elevation-1">
                <div class="card-header bg-gradient-light border-info">
                    <h5 class="float-right text-info">Usuario</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-9">
                            <div class="form-group">
                                <label class="control-label">Usuario</label>
                                <input asp-for="Usuario.FullName" class="form-control" disabled />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label">Fecha Asignacion</label>
                                <input asp-for="FechaAsignacion" class="form-control" disabled/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<div class="row d-flex justify-content-center">
    <div class="col-md-10">
        <div class="card p-2 elevation-2">
            <div class="card-header bg-gradient-light border-info">
                <h5 class="float-right text-info">Acciones</h5>
                <a id="btnAccion" asp-action="Accion" asp-route-solicitudId="@Model.Id"
                   class="btn btn-outline-info btn-sm">Nueva Accion</a>
            </div>
            <div class="card-body">
                @await Component.InvokeAsync("Acciones", Model.Id)
                @*<partial name="_Acciones.cshtml" />*@
            </div>
        </div>
    </div>
</div>


<script src="~/js/solicitud.js"></script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
        $('#btnAccion').click(function () {
            window.location.href = '/Solicitudes/Accion?solicitudId=' + solicitudId;
        });

        var id = $("#Id").val();
        Acciones(id);
    </script>
}