@model IEnumerable<ParcelaConsultingWeb.Models.Role>
<div class="table-responsive-md">
    <table class="table" style="width:100%">
        <thead>
            <tr>
                <th>
                    Descripción
                </th>
                <td>...</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td class="text-center" style="width:25%">
                    <a onclick="loadPartialRol('@item.Id')">
                        <i class="fa fa-marker fa-lg"></i>
                    </a> |
                    <a onclick="DeleteRole('@item.Id')" class="text-danger">
                        <i class="fa fa-trash fa-lg"></i>
                    </a> |
                    <a asp-action="GetEntitiesByRole" asp-route-roleId="@item.Id" class="text-dark">
                        <i class="fa fa-user-cog fa-lg"></i>
                    </a>
                </td>
            </tr>
             }
        </tbody>
    </table>
</div>