

<div class="table-responsive">
    <div class="btn-group float-left" role="group" aria-label="Basic example">
        <a type="button" asp-controller="Home" asp-action="Index" class="btn btn-sm btn-light border-dark d-inline"><i class="fas fa-arrow-left"></i></a>
        <a asp-action="AddOrEdit" asp-controller="Users" class="btn btn-sm btn-light border-dark">Usuario <i class="fas fa-plus-square"></i></a>
    </div>
    <table id="usersT" class="table display responsive nowrap table-bordered" width="100%">
        <thead>
            <tr>
                <th>
                    Usuario
                </th>
                <th>
                    Telefono
                </th>
                <th>
                    Rol
                </th>
                <th>
                    Email
                </th>
                <th>
                    Opciones
                </th>
            </tr>
        </thead>
    </table>
</div>

